### 레이블 인코딩

In [4]:
### 01. 데이터 준비
import pandas as pd
data = { "eng": ["b", "c", "a", "d"], 'season': ['봄','여름','가을','겨울'] }
df = pd.DataFrame(data)
print(type(df))
df

<class 'pandas.core.frame.DataFrame'>

  eng season
0   b      봄
1   c     여름
2   a     가을
3   d     겨울

In [2]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [5]:
en_x = LabelEncoder()
df['라벨인코딩1'] = en_x.fit_transform(df['eng'])
df['라벨인코딩2'] = en_x.fit_transform(df['season'])
df

  eng season  라벨인코딩1  라벨인코딩2
0   b      봄       1       2
1   c     여름       2       3
2   a     가을       0       0
3   d     겨울       3       1

### 원핫 인코딩

In [6]:
df

  eng season  라벨인코딩1  라벨인코딩2
0   b      봄       1       2
1   c     여름       2       3
2   a     가을       0       0
3   d     겨울       3       1

In [10]:
df['라벨인코딩1'].values.reshape(-1,1)

array([[1],
       [2],
       [0],
       [3]])

In [11]:
onehot = OneHotEncoder()
val = df['라벨인코딩1'].values.reshape(-1,1) # OneHotEncoder()를 사용을 위한 적합한 값으로 변경.
y = onehot.fit_transform( val ).toarray()    # 값을 변경후, 배열로 만들어준다.
y

array([[0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.]])

In [12]:
y.shape

(4, 4)

In [13]:
onehot_val = pd.DataFrame(y, dtype=int)
onehot_val

   0  1  2  3
0  0  1  0  0
1  0  0  1  0
2  1  0  0  0
3  0  0  0  1

In [14]:
df

  eng season  라벨인코딩1  라벨인코딩2
0   b      봄       1       2
1   c     여름       2       3
2   a     가을       0       0
3   d     겨울       3       1

In [16]:
df_new = pd.concat([df, onehot_val], axis=1)
df_new

  eng season  라벨인코딩1  라벨인코딩2  0  1  2  3
0   b      봄       1       2  0  1  0  0
1   c     여름       2       3  0  0  1  0
2   a     가을       0       0  1  0  0  0
3   d     겨울       3       1  0  0  0  1

In [17]:
data = { "회사명": ["MS","Apple", "Google", "Google"]}
df1 = pd.DataFrame(data)
dat = df1.copy()
dat

      회사명
0      MS
1   Apple
2  Google
3  Google

In [18]:
name_x = LabelEncoder()
dat['라벨인코딩_회사'] = name_x.fit_transform(dat['회사명'])

In [19]:
dat

      회사명  라벨인코딩_회사
0      MS         2
1   Apple         0
2  Google         1
3  Google         1

In [20]:
onehot = OneHotEncoder()
val = dat['회사명'].values.reshape(-1,1) # OneHotEncoder()를 사용을 위한 적합한 값으로 변경.
y = onehot.fit_transform( val ).toarray()    # 값을 변경후, 배열로 만들어준다.
y

array([[0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.]])

In [21]:
onehot_name = pd.DataFrame(y, dtype=int)
onehot_name

   0  1  2
0  0  0  1
1  1  0  0
2  0  1  0
3  0  1  0

In [22]:
dat2 = pd.concat([dat,onehot_name],axis=1)
dat2

      회사명  라벨인코딩_회사  0  1  2
0      MS         2  0  0  1
1   Apple         0  1  0  0
2  Google         1  0  1  0
3  Google         1  0  1  0

In [23]:
import os

In [30]:
df = pd.DataFrame({"product":['양말', '여우', '양말', '상자'],
                   "my_hobby":['게임','운동','누워있기','음악듣기']})
df

  product my_hobby
0      양말       게임
1      여우       운동
2      양말     누워있기
3      상자     음악듣기

In [31]:
onehot = pd.get_dummies(df)

onehot

,product_상자,product_양말,product_여우,my_hobby_게임,my_hobby_누워있기,my_hobby_운동,my_hobby_음악듣기
0,0,1,0,1,0,0,0
1,0,0,1,0,0,1,0
2,0,1,0,0,1,0,0
3,1,0,0,0,0,0,1

In [32]:
df1 = pd.concat([df,onehot],axis=1)
df1

,product,my_hobby,product_상자,product_양말,product_여우,my_hobby_게임,my_hobby_누워있기,my_hobby_운동,my_hobby_음악듣기
0,양말,게임,0,1,0,1,0,0,0
1,여우,운동,0,0,1,0,0,1,0
2,양말,누워있기,0,1,0,0,1,0,0
3,상자,음악듣기,1,0,0,0,0,0,1