In [1]:
from bs4 import BeautifulSoup
from urllib.request import urlopen

In [2]:
html = '<p>test</p>'
soup = BeautifulSoup(html, 'lxml')
soup

In [3]:
html = '<p>test</p>'
soup = BeautifulSoup(html, 'html5lib')
soup

In [4]:
html = '<p>test</p>'
soup = BeautifulSoup(html, 'html.parser')
soup

In [63]:
from bs4 import BeautifulSoup

html = """
<html>
<head>
    <title> test site </title>
</head>
<body>
    <a href="https://www.google.com">구글</a>
    <div>
        <p class='class1' align="left">test3</p>
        <p class='class1'>test2</p>
    </div>
    <div>
        <p id='p1'>오늘의 주가지수 1500</p>
        <p class='class4'>test3</p>
        <span class='class3'>span tag text</span>
        <a href="https://www.naver.com/">네이버</a>
        <a href="https://www.daum.com/">다음</a>
    </div>
</body>
</html>
"""

In [64]:
soup = BeautifulSoup(html, 'html.parser')
soup

<html>
<head>
<title> test site </title>
</head>
<body>
<a href="https://www.google.com">구글</a>
<div>
<p align="left" class="class1">test3</p>
<p class="class1">test2</p>
</div>
<div>
<p id="p1">오늘의 주가지수 1500</p>
<p class="class4">test3</p>
<span class="class3">span tag text</span>
<a href="https://www.naver.com/">네이버</a>
<a href="https://www.daum.com/">다음</a>
</div>
</body>
</html>

In [33]:
test1 = soup.find_all('p')
pcome = soup.select_one('p')
scome = soup.select_one('span').text
shead = soup.select('head')
pcome

In [56]:
test2 = soup.select('div#two > p')
test3 = soup.select('div#one > p')
test3

In [59]:
div1 = soup.find_all('div')[0]

In [61]:
div2 = div1.find_all('p')
div2

In [62]:
div2[0]

In [83]:
a = soup.find_all('a')
for h in a:
    print(h['href'])

https://www.google.com
https://www.naver.com/
https://www.daum.com/

In [84]:
soup.children

In [88]:
childlist = list(soup.children)
childlist

['\n',
 <html>
 <head>
 <title> test site </title>
 </head>
 <body>
 <a href="https://www.google.com">구글</a>
 <div>
 <p align="left" class="class1">test3</p>
 <p class="class1">test2</p>
 </div>
 <div>
 <p id="p1">오늘의 주가지수 1500</p>
 <p class="class4">test3</p>
 <span class="class3">span tag text</span>
 <a href="https://www.naver.com/">네이버</a>
 <a href="https://www.daum.com/">다음</a>
 </div>
 </body>
 </html>,
 '\n']

In [104]:
tmp = list(childlist[1].children)[3]
tmp

<body>
<a href="https://www.google.com">구글</a>
<div>
<p align="left" class="class1">test3</p>
<p class="class1">test2</p>
</div>
<div>
<p id="p1">오늘의 주가지수 1500</p>
<p class="class4">test3</p>
<span class="class3">span tag text</span>
<a href="https://www.naver.com/">네이버</a>
<a href="https://www.daum.com/">다음</a>
</div>
</body>

In [109]:
div2 = soup.find_all('div')[1]
list(div2.children)
div2_span = list(div2.children)[5]
div2_span

In [116]:
wow = soup.find_all('p')
for i in wow:
    print(i.text)

test3
test2
오늘의 주가지수 1500
test3

In [121]:
com = []
urls = []
wow2 = soup.find_all('a')
for i in wow2:
    print(i.text, i['href'])
    com.append(i.text)
    urls.append(i['href'])

구글 https://www.google.com
네이버 https://www.naver.com/
다음 https://www.daum.com/

In [120]:
import pandas as pd

In [123]:
dat = {'회사명':com, '웹사이트':urls}
dat = pd.DataFrame(dat)
dat

   회사명                    웹사이트
0   구글  https://www.google.com
1  네이버  https://www.naver.com/
2   다음   https://www.daum.com/

In [125]:
dat.to_csv('회사명과웹사이트.csv', index=False)

import os
print(os.getcwd())

C:\Users\wnsau

In [132]:
import requests
data = requests.get('https://ldjwj.github.io/00_PYTHON_LEVELUP_CLASS/web_class/index.html')
soup = BeautifulSoup(data.text, 'html.parser')
links = soup.select('body > ul > a')
for link in links:
    print(link['href'])

./01.html
./02.html
./03.html
https://pythonstart.github.io/web/04.html
./05.html
./06.html
./07.html
./08.html
https://pythonstart.github.io/web/09.html
./10.html

In [135]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
url = "https://finance.naver.com/sise/"
page = urlopen(url)
page
soup = BeautifulSoup(page, "html.parser")
soup.title

In [136]:
Kospi = soup.find("span", id="KOSPI_now").text
Kosdaq = soup.find("span", id="KOSDAQ_now").text
Kospi200 = soup.find("span", id="KPI200_now").text
print(Kospi, Kosdaq, Kospi200)

3,276.26 999.15 436.53

In [218]:
data = requests.get('https://finance.naver.com/sise/')
soup = BeautifulSoup(data.text, 'html.parser')
likes = soup.select('#contentarea > div.box_top_submain2 > div.rgt> #popularItemList > li')
rank = 1
for like in likes:
    a = like.select_one('a')
    if a is not None:
        title = a.text
        updown = like.select_one('span').text
        print(rank,title,updown)
        rank += 1

쌍방울
삼성전자
한전산업
HMM
카카오
두산중공업
NAVER
대원전선
셀트리온
가비아

In [192]:
data = requests.get('https://finance.naver.com/sise/')
soup = BeautifulSoup(data.text, 'html.parser')
majors = soup.select('#contentarea > div.box_top_submain2 > div.rgt> ul.lst_major > li')
result1 = []
result2 = []
for major in majors:
    b = major.select_one('a')
    if b is not None:
        title2 = b.text
        updown2 = major.select_one('span').text
        
        print(result1,result2)

In [179]:
dat = {'회사명':result1, '지수':result2}
dat = pd.DataFrame(dat)
dat

       회사명         지수
0     다우산업  34,299.33
1      나스닥  14,072.86
2      홍콩H  10,586.56
3     상해종합   3,524.85
4   니케이225  29,291.01

In [180]:
dat.to_csv('주요해외지수.csv', index=False)

import os
print(os.getcwd())

C:\Users\wnsau

In [251]:
data = requests.get('https://finance.naver.com/sise/')
soup = BeautifulSoup(data.text, 'html.parser')
uppers = soup.select('#contentarea > div.box_type_l > #siselist_tab_0 > tr')
rank = 1
for upper in uppers:
    b = upper.select_one('td > a ')
    c = upper.select_one('td.number:nth-child(8)')
    try:
        print(rank,b.text,c.text)         
    except Exception as e:
        continue
    rank += 1

1 대원전선우 860,445
2 지더블유바이텍 373,914
3 자연과환경 48,692,956
4 가비아 12,452,113
5 광진윈텍 1,233,708
6 한전산업 36,451,207
7 엘에이티 209