[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/corazzon/finance-data-analysis/blob/main/4.2%20ETF%20%EC%A0%84%EC%B2%98%EB%A6%AC-input.ipynb)

* [ETF : 네이버 금융](https://finance.naver.com/sise/etf.nhn) 에서 수집한 데이터를 전처리 합니다.
* keyword
    * rename column
    * .map(lambda x : x)
    * text data
        * str.contains()
        * str.replace()
        * str.split("구분자", expand=True)
        * str[:]

## 데이터 로드와 요약

In [4]:
# 데이터 분석을 위한 pandas, 수치계산을 위한 numpy라이브러리를 로드합니다.
import pandas as pd
import numpy as np

In [21]:
# 이전 실습에서 저장한 파일명을 file_name에 적어주세요.
file_name = "etf_2021_07_28_raw.csv"
file_name

'etf_2021_07_28_raw.csv'

In [22]:
# 이전 수업에서 수집해서 저장해둔 csv 파일을 읽어옵니다.
# itemcode 숫자 앞의 0 이 지워진다면 dtype={"itemcode": np.object} 로 타입을 지정해 주면 문자형태로 읽어옵니다.
# df
df = pd.read_csv(file_name, dtype={'itemcode':np.object})
df.shape

(489, 12)

In [24]:
# 인덱스 번호 상단 5개의 데이터를 가져옵니다.
# 데이터를 잘 읽어왔는지 확인합니다.
df.head(5)

,itemcode,etfTabCode,itemname,nowVal,risefall,changeVal,changeRate,nav,threeMonthEarnRate,quant,amonut,marketSum
0,069500,1,KODEX 200,43005,2,130,0.30,43027.0,-0.7363,2409683,103245,41672
1,153130,6,KODEX 단기채권,102845,3,0,0.00,102846.0,0.0340,16993,1747,24206
2,252670,3,KODEX 200선물인버스2X,1930,5,-10,-0.52,1930.0,0.0000,208047261,403732,22070
3,102110,1,TIGER 200,43020,2,85,0.20,43060.0,-0.7054,917304,39354,21575
4,102780,2,KODEX 삼성그룹,10570,2,35,0.33,10594.0,3.2033,254361,2680,18180

In [25]:
# 인덱스 하단의 5개 데이터를 가져옵니다.
# 데이터를 잘 읽어왔는지 확인합니다.
df.tail(5)

,itemcode,etfTabCode,itemname,nowVal,risefall,changeVal,changeRate,nav,threeMonthEarnRate,quant,amonut,marketSum
484,267500,4,KBSTAR 미국장기국채선물인버스2X(합성 H),5790,5,-60,-1.03,NaN,-11.8976,6161,35,26
485,287330,2,KBSTAR 200생활소비재,8880,2,30,0.34,8890.0,-1.7213,2235,19,21
486,334700,5,KBSTAR 팔라듐선물인버스(H),4545,2,75,1.68,NaN,5.1764,1855,8,18
487,287310,2,KBSTAR 200경기소비재,11835,5,-80,-0.67,11871.0,3.1691,323,3,17
488,287320,2,KBSTAR 200산업재,13370,2,30,0.22,13371.0,9.1653,3382,45,16

In [26]:
# info를 통해서 각 column들의 데이터타입과 결측치, 메모리 사용량 등을 볼 수 있습니다.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 489 entries, 0 to 488
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   itemcode            489 non-null    object
 1   etfTabCode          489 non-null    int64
 2   itemname            489 non-null    object
 3   nowVal              489 non-null    int64
 4   risefall            489 non-null    int64
 5   changeVal           489 non-null    int64
 6   changeRate          489 non-null    float64
 7   nav                 348 non-null    float64
 8   threeMonthEarnRate  467 non-null    float64
 9   quant               489 non-null    int64
 10  amonut              489 non-null    int64
 11  marketSum           489 non-null    int64
dtypes: float64(3), int64(7), object(2)
memory usage: 46.0+ KB

* 웹사이트의 ETF 정보와 비교하며 어떤 컬럼이 어떤 값인지 확인합니다. 
* https://finance.naver.com/sise/etf.nhn

In [27]:
# https://finance.naver.com/sise/etf.nhn 에서 값을 비교해보면 quant는 거래량임을 알 수 있습니다.
# 거래량(quant) 기준으로 내림차순으로 정렬하여 상위 10개의 데이터를 봅니다.
df.sort_values('quant', ascending=False)

,itemcode,etfTabCode,itemname,nowVal,risefall,changeVal,changeRate,nav,threeMonthEarnRate,quant,amonut,marketSum
2,252670,3,KODEX 200선물인버스2X,1930,5,-10,-0.52,1930.0,0.0000,208047261,403732,22070
29,251340,3,KODEX 코스닥150선물인버스,4370,2,60,1.39,4369.0,-2.4887,38236111,166267,5012
14,114800,3,KODEX 인버스,3765,5,-5,-0.13,3765.0,0.1328,32299879,121963,10659
6,122630,3,KODEX 레버리지,27990,2,125,0.45,28203.0,-2.2281,13289425,369506,13995
10,371460,4,TIGER 차이나전기차SOLACTIVE,15635,5,-365,-2.28,NaN,48.0795,9662619,150205,11833
...,...,...,...,...,...,...,...,...,...,...,...,...
183,363570,6,KODEX 장기종합채권(AA-이상)액티브KAP,97855,3,0,0.00,98037.0,2.1344,0,0,320
438,302180,6,TIGER 국채선물10년인버스,47645,3,0,0.00,47564.0,-2.0356,0,0,57
450,292770,6,KODEX 국채선물3년인버스,49770,3,0,0.00,49813.0,0.1408,0,0,51
453,299080,6,KINDEX 국채선물3년인버스,99560,3,0,0.00,99614.0,0.2365,0,0,50
461,299070,6,KINDEX 국채선물10년인버스,94010,3,0,0.00,93839.0,-1.9555,0,0,47

In [28]:
# etfTabCode column의 데이터 구성을 살펴봅니다.
# 추후 알게되겠지만 etfTabCode는 해당 사이트에서 
# 전체(0), 국내 시장지수(1), 국내 업종/테마(2), 국내 파생(3) ~
# 해외 주식(4), 원자재(5), 채권(6), 기타(7)로 자료가 구분되어 있습니다.
df['etfTabCode'].unique()

array([1, 6, 3, 2, 4, 7, 5], dtype=int64)

In [32]:
# pandas 의 boolean Indexing을 사용해서
# 국내 시장지수(etfTabCode == 1)의 데이터들만 확인하여 봅니다.
# 조건문의 결과가 Index와  True, False 로 나오기 때문에 boolean Indexing 이라 부릅니다.
df[df['etfTabCode']==1]

,itemcode,etfTabCode,itemname,nowVal,risefall,changeVal,changeRate,nav,threeMonthEarnRate,quant,amonut,marketSum
0,069500,1,KODEX 200,43005,2,130,0.30,43027.0,-0.7363,2409683,103245,41672
3,102110,1,TIGER 200,43020,2,85,0.20,43060.0,-0.7054,917304,39354,21575
8,278530,1,KODEX 200TR,14065,2,50,0.36,14072.0,-0.8490,24819,347,12743
11,278540,1,KODEX MSCI Korea TR,13735,5,-5,-0.04,13771.0,-1.7168,264815,3627,11469
12,148020,1,KBSTAR 200,43080,2,130,0.30,43100.0,-0.6776,30555,1311,10705
...,...,...,...,...,...,...,...,...,...,...,...,...
386,252650,1,KODEX 200동일가중,13190,5,-60,-0.45,13242.0,3.6046,3,0,79
397,391670,1,HK 베스트일레븐액티브,9795,3,0,0.00,9796.0,NaN,2652,25,73
398,391680,1,HK 하이볼액티브,9760,5,-10,-0.10,9774.0,NaN,3499,34,73
458,295820,1,ARIRANG 200동일가중,12175,5,-10,-0.08,12171.0,3.4555,225,2,49
463,275750,1,KBSTAR 코스닥150선물인버스,4610,2,65,1.43,4607.0,-2.6767,11366,52,46

## 데이터 전처리
### etfTabName 만들기

In [36]:
# etf name을 구분하기 위한 list를 만듭니다.
# """ 를 이용해 \n을 포함하는 string을 만들고 split으로 나누어서 list를 간편히 만들수 있습니다.
etfcode = """전체
국내 시장지수
국내 업종/테마
국내 파생
해외 주식
원자재
채권
기타"""
etfcode

'전체\n국내 시장지수\n국내 업종/테마\n국내 파생\n해외 주식\n원자재\n채권\n기타'

In [37]:
# split으로 나누어 list형 데이터를 만듭니다.
# etf_tab_name
etf_tab_name = etfcode.split()
etf_tab_name

['전체', '국내', '시장지수', '국내', '업종/테마', '국내', '파생', '해외', '주식', '원자재', '채권', '기타']

In [39]:
def find_etf_tab_name(no):
    return etf_tab_name[no]

In [40]:
find_etf_tab_name(2)

'시장지수'

In [42]:
# etfTabName 이름이 직관적이지 않기 때문에 한글로 변경해 줍니다.
# map과 lambda 함수를 이용하여 eftTabCode column들의 각 cell의 내용에 따라
# etf_tab_name list의 원소값에 따라 이름을 만들어 주고 etfTabName 이라는 새로운 컬럼을 생성합니다.
# 즉 etfTabCode 숫자 -> list의 원소 인덱스로 한글 이름을 매핑해 줍니다. -> etfTabName에 한글로 저장
# df["etfTabName"]
df['etfTabName'] = df['etfTabCode'].map(find_etf_tab_name)

In [43]:
# etfTabName column이 제대로 만들어졌는지 확인합니다.
df.head(3)

,itemcode,etfTabCode,itemname,nowVal,risefall,changeVal,changeRate,nav,threeMonthEarnRate,quant,amonut,marketSum,etfTabName
0,069500,1,KODEX 200,43005,2,130,0.30,43027.0,-0.7363,2409683,103245,41672,국내
1,153130,6,KODEX 단기채권,102845,3,0,0.00,102846.0,0.0340,16993,1747,24206,파생
2,252670,3,KODEX 200선물인버스2X,1930,5,-10,-0.52,1930.0,0.0000,208047261,403732,22070,국내

* map : 
    * Series에서만 사용가능
    * [Essential basic functionality — pandas documentation](https://pandas.pydata.org/docs/user_guide/basics.html?#applying-elementwise-functions)

* apply :
    * Series와 DataFrame 둘 다 사용가능
    * [Essential basic functionality — pandas documentation](https://pandas.pydata.org/docs/user_guide/basics.html?#row-or-column-wise-function-application)

### 컬럼명 변경하기

In [ ]:
"""종목명
현재가
전일비
등락률
NAV
3개월수익률
거래량
거래대금(백만)
시가총액(억)
"""

In [49]:
# DataFrame df의 column 이름을 list로 만들어서 cols 라는 변수에 담습니다.
# cols
cols = ['itemcode', 'etfTabCode', 'itemname', 'nowVal', 'risefall', 'changeVal',
       'changeRate', 'nav', 'threeMonthEarnRate', 'quant', 'amonut',
       'marketSum', 'etfTabName']
cols

['itemcode',
 'etfTabCode',
 'itemname',
 'nowVal',
 'risefall',
 'changeVal',
 'changeRate',
 'nav',
 'threeMonthEarnRate',
 'quant',
 'amonut',
 'marketSum',
 'etfTabName']

In [50]:
# 영어로 되어있는 column 이름을 한글로 바꾸기 위한 list를 만듭니다.
# 빠진 column이 있는지 리스트와 길이를 확인합니다.
col_name = """종목코드
탭코드
종목명
현재가
등락구분
전일비
등락률
순자산가치(NAV)
3개월수익률
거래량
거래대금(백만)
시가총액(억)
유형"""
col_name_list = col_name.split()
col_name_list

['종목코드',
 '탭코드',
 '종목명',
 '현재가',
 '등락구분',
 '전일비',
 '등락률',
 '순자산가치(NAV)',
 '3개월수익률',
 '거래량',
 '거래대금(백만)',
 '시가총액(억)',
 '유형']

In [51]:
# 컬럼 영문명과 한글명을 딕셔너리 형태로 만들어 비교해 볼 수도 있습니다.
# 하지만 좀 더 간단하게 여기에서는 리스트 값을 그대로 컬럼에 넣어주는 방법을 사용할거에요.
# 딕셔너리로 키-값 쌍을 만들어 컬럼의 키와 값이 잘 매치되었는지 확인해 봅니다.
dict(zip(cols, col_name_list))

{'itemcode': '종목코드',
 'etfTabCode': '탭코드',
 'itemname': '종목명',
 'nowVal': '현재가',
 'risefall': '등락구분',
 'changeVal': '전일비',
 'changeRate': '등락률',
 'nav': '순자산가치(NAV)',
 'threeMonthEarnRate': '3개월수익률',
 'quant': '거래량',
 'amonut': '거래대금(백만)',
 'marketSum': '시가총액(억)',
 'etfTabName': '유형'}

In [53]:
# 기존의 데이터프레임 컬럼명에 위에서 만든 컬럼명을 할당연산자로 대입해 주면 컬럼명이 변경됩니다.
# 컬럼 변경 후 한글로 컬럼명이 잘 변경되었는지 확인해 봅니다.
df.columns = col_name_list
df.head(2)

,종목코드,탭코드,종목명,현재가,등락구분,전일비,등락률,순자산가치(NAV),3개월수익률,거래량,거래대금(백만),시가총액(억),유형
0,069500,1,KODEX 200,43005,2,130,0.3,43027.0,-0.7363,2409683,103245,41672,국내
1,153130,6,KODEX 단기채권,102845,3,0,0.0,102846.0,0.0340,16993,1747,24206,파생

### 파생변수 만들기
* 브랜드, 인버스, 레버리지, 환헤지H 변수 만들기
* [Working with text data — pandas documentation](https://pandas.pydata.org/docs/user_guide/text.html)

In [55]:
# 종목명 column의 데이터를 space(" ")를 이용해 나누고 제일 앞부분[0]을 새로운 column을 만들어 저장하고 확인합니다.
# expand = True 옵션을 사용하면 문자열을 나눈 값을 인덱스 순서대로 가져와서 사용할 수 있습니다.
# df["브랜드"]
df['인버스'] = df['종목명'].str.split(expand=True)[0]
df.head(1)

,종목코드,탭코드,종목명,현재가,등락구분,전일비,등락률,순자산가치(NAV),3개월수익률,거래량,거래대금(백만),시가총액(억),유형,인버스
0,069500,1,KODEX 200,43005,2,130,0.3,43027.0,-0.7363,2409683,103245,41672,국내,KODEX

* 종목명 column의 내용중이 '인버스'라는 단어가 있으면 새로운 column '인버스'에 True 값이 들어가게 됩니다.
* contains는 bool type을 반환하기 때문에 새로운 column에는 True나 False가 들어가게 됩니다.
* 마찬가지로 '레버리지'와 '환헤지H'에 대해서도 동일하게 만들어 줍니다. 
* H라는 단어가 종목명에 들어갈 수도 있기 때문에 H뒤에 닫는 소괄호")"까지 확인합니다.
* 소괄호는 정규표현식에서 의미를 가지는 문자이기 때문에 문자 그대로 읽어오기 위해서는 "\"로 전처리가 필요합니다.

In [57]:
# 인버스ETF는 지수가 하락하면 오히려 수익률이 오르도록 설계된 상품입니다.
# df["인버스"]
df['인버스'] = df['종목명'].str.contains('인버스')
df.head(1)

,종목코드,탭코드,종목명,현재가,등락구분,전일비,등락률,순자산가치(NAV),3개월수익률,거래량,거래대금(백만),시가총액(억),유형,인버스
0,069500,1,KODEX 200,43005,2,130,0.3,43027.0,-0.7363,2409683,103245,41672,국내,False

레버리지(leverage)는 타인의 자본을 지렛대처럼 이용하여 자기 자본의 이익률을 높이는 것이다. 고정비용이 있을 때 매출액의 변화가 기업의 손익에 미치는 영향을 분석하는 데에 쓰인다. 이는 고정영업비용과 고정재무비용의 부담정도에 따라 기업에게 귀속되는 최종적인 주당이익에 어떤 영향을 미치는지 분석할 수 있게 한다.

* 출처 : [레버리지 - 위키백과, 우리 모두의 백과사전](https://ko.wikipedia.org/wiki/%EB%A0%88%EB%B2%84%EB%A6%AC%EC%A7%80)

In [ ]:
# df["레버리지"]
df['레버리지'] = df['종목명'].str.contains('레버리지')
df['레버리지'] =

헤지(hedge)란 환율, 금리 또는 다른 자산에 대한 투자등을 통해 보유하고 있는 위험자산의 가격변동을 제거하는 것을 말한다. 즉, 확정되지 않은 자산을 확정된 자산으로 편입하는 과정이라 할 수 있으며, 주로 선물 옵션과 같은 파생상품을 이용한다. 이를 통해 체계적 위험을 제거할 수 있다.

부(wealth)를 결정하는 변수값의 변화와 관계없이 항상 일정한 부를 유지하게 하는 헤지를 완전헤지라고 하고, 그렇지 못한 것을 불완전헤지라고 한다.
* 출처 : [헤지 - 위키백과, 우리 모두의 백과사전](https://ko.wikipedia.org/wiki/%ED%97%A4%EC%A7%80)

In [60]:
# (H)의 의미는 환율변동 위험을 막기 위해 Hedge를 한다는 뜻입니다.
# df["환헤지H"]
df['종목명'].str.contains('\(H')

0      False
1      False
2      False
3      False
4      False
       ...
484    False
485    False
486     True
487    False
488    False
Name: 종목명, Length: 489, dtype: bool

### 전처리가 잘 되었는지 확인하기

In [ ]:
# 등락구분에 있는 값의 빈도수를 세어봅니다.

In [ ]:
# 전체적으로 데이터 전처리가 끝났다면 info를 통해 데이터 요약정보 보기

## 파일로 저장하기

In [61]:
# 기존에 불러왔던 파일명에서 _raw를 제거하고 새로운 파일명으로 저장합니다.
# save_file_name 
save_file_name = file_name.replace('_raw',"")
save_file_name

'etf_2021_07_28.csv'

In [ ]:
# pandas의 to_csv로 파일을 저장합니다.
# index=False로 인덱스값은 저장하지 않습니다.
df.to_csv(save_file_name,index=False)

In [ ]:
# 저장한 파일을 읽어와서 제대로 저장되었는지 확인합니다.
# 또, 종목코드는 그냥 읽어오면 숫자 맨 앞의 0이 생략될 수 있으니 object 타입으로 불러옵니다.