In [42]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [43]:
import matplotlib.pyplot as plt
import seaborn as sns

In [44]:
train = pd.read_csv("/kaggle/input/titanic/train.csv")
test = pd.read_csv("/kaggle/input/titanic/test.csv")

train.shape, test.shape

((891, 12), (418, 11))

In [45]:
train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [46]:
test.columns

Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [47]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [48]:
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [50]:
test.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [52]:
train["Embarked"].unique()

array(['S', 'C', 'Q', nan], dtype=object)

### value_counts(): 각각의 값의 개수를 확인

In [54]:
train.Embarked.value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [55]:
train['Embarked'] = train['Embarked'].fillna('S')
train['Embarked'].isnull().sum()

0

In [49]:
### 2개 컬럼 선택 - Pclass, SibSp
sel = ['Pclass','SibSp','Embarked']

X_train = train[sel]
y_train = train['Survived']

X_test = test[sel]

X_train.head(), y_train.head(), X_test.head()

(   Pclass  SibSp Embarked
 0       3      1        S
 1       1      1        C
 2       3      0        S
 3       1      1        S
 4       3      0        S,
 0    0
 1    1
 2    1
 3    1
 4    0
 Name: Survived, dtype: int64,
    Pclass  SibSp Embarked
 0       3      0        Q
 1       3      1        S
 2       2      0        Q
 3       3      0        S
 4       3      1        S)

In [ ]:
from sklearn.tree import DecisionTreeClassifier

tree = DecisionTreeClassifier() ### 01 머신러닝 모델 객체 만들기
tree.fit(X_train, y_train) ### 02 머신러닝 모델 훈련시키기
pred = tree.predict(X_test) ### 03 훈련시킨 모델로 예측하기

In [ ]:
sub = pd.read_csv("/kaggle/input/titanic/gender_submission.csv")
sub['Survived'] = pred
sub.to_csv("first_sub.csv", index=False)

In [ ]:
sub